<h1>Editing External Witness</h1>

<%= render 'form', external_witness: @external_witness %>

<div class="mt-4">
  <%= link_to 'Show', @external_witness %> |
  <%= link_to 'Back', external_witnesses_path %>
</div>
