<h1>Editing External Song Text</h1>

<%= render 'form', external_song_text: @external_song_text %>

<div class="mt-4">
  <%= link_to 'Show', @external_song_text %> |
  <%= link_to 'Back', external_song_texts_path %>
</div>
