<h1>Editing Manuscripts Songs Map</h1>

<%= render 'form', manuscripts_songs_map: @manuscripts_songs_map %>

<%= link_to 'Show', @manuscripts_songs_map %> |
<%= link_to 'Back', manuscripts_songs_maps_path %>
